*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    color: hsl(192, 100%, 9%);
    font: 18px 'Open Sans', sans-serif;
}

/* Header styling */
header{
    display: flex;
    flex-direction: column;
    background: rgb(237,251,254) url("icons and images/bg-hero-desktop.svg") no-repeat top center;
    background-size: contain;
    margin-bottom: 160px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 48px 62px 48px;
}
.nav-link{
    width: 185px;
    height: 48px;
    color: rgb(0,37,46);
    text-decoration: none;
    background-color: #fff;
    border-radius: 50px;
    padding: 12px 0px;
    font-weight: 700;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
    outline: none;
    border: none;
    
}
.nav-link:hover {
    background: linear-gradient(to right, #e916e9, #e9169c);
    cursor: pointer;
    outline: none;
    font-size: 16px;
    border: none;
    transition: 0.5s;
    transform: scale(1.05);
}
.logo:hover{
    transform: scale(1.05);
    transition: 0.6s;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 48px;
    margin-bottom: 73px;
}
#hero h1{
    width: 515px;
    margin-bottom: 25px;
    font: 700 48px 'Poppins', sans-serif;
}
#hero p{
    width: 510px;
    line-height: 30px;
    margin-bottom: 30px;
}
#hero button, #build button{
    width: 275px;
    height: 56px;
    color: #fff;
    font: 700 16px 'Open Sans', sans-serif;
    background-color: hsl(322, 100%, 66%);
    border-radius: 50px;
    border: none;
    outline: none;
    
}
#hero button:hover {
    background: linear-gradient(to right, #e916e9, #e9169c) ;
    transition: 0.3s;
    transform: scale(1.05);
    font-size: 18px;
    cursor: pointer;
    outline: none;
}

#hero img{
    width: 679px;
    height: 483px;
}
#hero img:hover{
    transform: scale(1.01);
}

/* Main section styling */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#grow, #flowing, #users{
    height: 439px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#grow, #flowing, #users, #build{
    width: 86%;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 2px 3px 10px -1px #d1d1d1, 0px 0px #ffffff;
    margin-bottom: 47px;
}
#grow:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
#users{
    margin-bottom: 155px;
}
#users:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
#grow img, #flowing img, #users img{
    width: 407px;
    height: 336px;
}
#grow h2, #flowing h2, #users h2, #build h2{
    font: 700 32px 'Poppins', sans-serif;
    margin-bottom: 13px;
}
#grow p, #flowing p, #users p{
    color: hsl(208, 11%, 55%);
    line-height: 30px;
}
.flowing-text, .grow-text, .users-text{
    width: 500px;
}
#flowing:hover{
    transform: scale(1.03);
    transition: 0.5s;
}

.grow-img-mobile, .users-img-mobile{
    display: none;
}

#build{
    width: 56%;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    box-shadow: 2px 3px 10px -1px rgba(0,37,46,0.3), 0px 0px #fff;
}
#build:hover{
    transform: scale(1.01);
    transition: 0.4s;
}
#build h2{
    font-size: 32px;
    padding-bottom: 12px;
}
#build button{
    width: 380px;
    height: 75px;
    font-size: 18px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%);
    outline: none;
}
#build button:hover {
    background: linear-gradient(to right, #e916e9, #e9169c);
    cursor: pointer;
    font-size: 22px;
    transition: 0.5s;
    transform: scale(1.05);
    outline: none;
}

/* Footer section styling */
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 0fr;
    color: #fff;
    background-color: hsl(192, 100%, 9%);
    font-size: 14px;
    padding: 0 50px 0px 105px;
    position: relative;
    bottom: 104px;
}
.logo-white{
    width: 240px;
    height: 178px;
    padding-top: 140px;
}
.foot-section0{
    grid-area: 1/1/1/3;
}
.foot-item0, .foot-item{
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-top: 30px;
}
.foot-item0{
    margin-left: -5px;
    align-items: flex-start;
}
.foot-item p{
    line-height: 22px;
}
.location{
    padding-top: 4px;
}
.lorem{
    padding-right: 100px;
}
.foot-section{
    padding-top: 192px;
}
ul{
    list-style-type: none;
}
li{
    padding-top: 20px;
}
.socials{
    grid-area: 1/5/1/5;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding-top: 65px;

}
.icon{
    border: 1px solid white;
    border-radius: 50%;
    padding: 7px;
    font-size: 14px;
    margin-right: 14px;
}
.icon:hover{
    background-color: #00acee;
    cursor: pointer;
    transform: scale(1.5);
    border: 2px solid white;
    transition: 0.8s;
}
.icon-f{
    padding: 7px 9.7px;
    margin-right: 14px;
}
.icon-f:hover {
    background-color: #4267b2;
    cursor: pointer;
    transform: scale(1.5);
    border: 2px solid white;
    transition: 0.8s;
}
.icon-i{
    padding: 7px 8px;
}
.icon-i:hover{
    background-color: #f56040;
    cursor: pointer;
    transform: scale(1.5);
    border: 2px solid white;
    transition: 0.8s;
}
.copyrights{
    width: 291px;
    grid-area: 2/5/2/5;
    font-size: 12px;
    text-align: left;
    padding-top: 20px;
    margin-bottom: 38px;
}

@media (min-width:320px) and (max-width:940px){
    /* header section styling */
    header{
        background-image: url("icons and images/bg-hero-mobile.svg");
        text-align: center;
        margin-bottom: 60px;
    }
    nav{
        padding: 30px 15px 70px 15px;
    }
    .logo{
        width: 126px;
        height: 19px;
    }
    .nav-link{
        width: 116px;
        height: 35px;
        padding: 6px 10px;
        font-size: 12px;
        outline: none;
    }
    .nav-link:hover{
        transform: scale(1.2);
        transition: 0.5s;
        font-size: 13px;
        outline: none;
    }
    #hero{
        display: block;
        padding: 0 36px;
    }
    #hero h1{
        width: auto;
        margin-bottom: 20px;
        font:700 28px 'Poppins', sans-serif;
    }
    #hero p{
        width: auto;
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 26px;
    }
    #hero button, #build button{
        width: auto;
        height: auto;
        font-size: 12px;
        padding: 11px 65px;
        margin-bottom: 39px;
        outline: none;
    }
    #hero button:hover{
        transform: scale(1.2);
        transition: 0.5s;
        font-size: 12px;
        outline: none;
    }
    #hero img{
        width: 90%;
        height: auto;
    }

    /* Main section styling */
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    #grow, #flowing, #users{
        padding: 0;
        flex-direction: column;
    }
    #grow, #flowing, #users, #build{
        height: auto;
        width: 90%;
    }
    #users{
        margin-bottom: 47px;
    }
    #grow img, #flowing img, #users img{
        width: auto;
        padding: 65px 0px 38px;
    }
    .flowing-text, .grow-text, .users-text{
        width: auto;
    }
    .grow-img-mobile, .users-img-mobile{
        display: block;
    }
    .grow-img-desktop, .users-img-desktop{
        display: none;
    }
    #grow h2, #flowing h2, #users h2, #build h2{
        font-size: 24px;
    }
    #grow p, #flowing p, #users p{
        font-size: 14px;
        line-height: 22px;
        padding: 0px 30px 27px;
    }
    #flowing p{
        padding: 0px 40px 50px;
    }
    #users p{
        padding: 0px 45px 33px;
    }
    #build{
        width: 95%;
    }
    #build h2{
        font-size: 19px;
        padding: 38px 13px 5px 13px;
    }
    #build button{
        font-size: 10px;
        margin-bottom: 38px;
    }
    #build button:hover{
        transform: scale(1.2);
        font-size: 11px;
        transition: 0.5s;
        outline: none;
    }

    /* Footer section styling */
    footer{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
    }
    .logo-white{
        width: 165px;
        height: 165px;
    }
    .foot-item0, .foot-item{
        padding-top: 18px;
    }
    .foot-section{
        padding-top: 0;
    }
    .lorem{
        padding-right: 55px;
    }
    ul{
        font-size: 15px;
    }
    .push{
        padding-top: 25px;
    }
    li{
        padding-top: 18px;
    }
    .socials{
        justify-content: center;
        padding: 40px 0px 20px 0px
    }
    .copyrights{
        width: auto;
        text-align: center;
        margin-bottom: 38px;
    }
}

@media (min-width:941px) and (max-width:1023px){
    /* Header styling */
    header{
        margin-bottom: 100px;
    }
    #hero h1{
        width: auto;
        font: 700 38px 'Poppins', sans-serif;
        padding-right: 95px;
    }
    .nav-link{
        font-size: 14px;
    }
    #hero p{
        width: auto;
        padding-right: 40px;
        font-size: 17px;
    }
    #hero button, #build button{
        width: 246px;
        height: 50px;
        font: 700 14px 'Open Sans', sans-serif;
    }
    #build button:hover{
        font-size: 18px;
    }
    #hero img{
        width: 390px;
        height: 350px;
    }
    
    /* Main section styling */
    #grow, #flowing, #users{
        column-gap: 40px;
        padding: 0px 60px;
    }
    #grow h2, #flowing h2, #users h2, #build h2{
        font: 700 28px 'Poppins', sans-serif;
  
    }
    #grow p, #flowing p, #users p{
        font-size: 16px;
    } 
}

@media (min-width:1024px) and (max-width:1249px){
    /* Header styling */
    header{
        margin-bottom: 120px;
    }
    #hero h1{
        width: auto;
        font: 700 40px 'Poppins', sans-serif;
        padding-right: 95px;
    }
    #hero p{
        width: auto;
        padding-right: 40px;
        font-size: 18px;
    }
    #hero button, #build button{
        width: 246px;
        height: 50px;
        font: 700 14px 'Open Sans', sans-serif;
    }
    #hero img{
        width: 500px;
        height: 400px;
    }
    
    /* Main section styling */
    #grow, #flowing, #users{
        column-gap: 50px;
        padding: 0px 60px;
    }
    #grow h2, #flowing h2, #users h2, #build h2{
        font: 700 32px 'Poppins', sans-serif;
    }
    #grow p, #flowing p, #users p{
        font-size: 17px;
    }
    #build button:hover{
        font-size: 18px;
        transform: scale(1.2);
    }
    #hero button:hover{
        transform: scale(1.2);
    }
}

@media (min-width:1250px) and (max-width:1310px) {
    #hero img{
        width: 580px;
        height: 450px;
    }
}

